page-contact {
ion-content{background-image: url(../assets/images/fond.jpg); background-repeat: no-repeat; background-size: cover;}
	.competences{background-color:black; color:white;}
	.adresse{font-size: 0.8em;}
}
